[submodule "simpl-repo/frontend/simpl-fe"]
	path = simpl-repo/frontend/simpl-fe
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/simpl-fe.git
	branch = develop
[submodule "simpl-repo/backend/microservices/identity-provider"]
	path = simpl-repo/backend/microservices/identity-provider
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/identity-provider.git
	branch = develop
[submodule "simpl-repo/backend/microservices/users-roles"]
	path = simpl-repo/backend/microservices/users-roles
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/users-roles.git
	branch = develop
[submodule "simpl-repo/backend/microservices/tier1-gateway"]
	path = simpl-repo/backend/microservices/tier1-gateway
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/tier1-gateway.git
	branch = develop
[submodule "simpl-repo/backend/microservices/tier2-gateway"]
	path = simpl-repo/backend/microservices/tier2-gateway
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/tier2-gateway.git
	branch = develop
[submodule "simpl-repo/backend/microservices/authentication_provider"]
	path = simpl-repo/backend/microservices/authentication_provider
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/authentication_provider.git
	branch = develop
[submodule "simpl-repo/backend/microservices/onboarding"]
	path = simpl-repo/backend/microservices/onboarding
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/onboarding.git
	branch = develop
[submodule "simpl-repo/backend/microservices/security-attributes-provider"]
	path = simpl-repo/backend/microservices/security-attributes-provider
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/security-attributes-provider.git
	branch = develop
[submodule "simpl-repo/backend/tests/test-automation"]
	path = simpl-repo/backend/tests/test-automation
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/test-automation.git
	branch = develop
[submodule "simpl-repo/backend/tests/test-automation-ui"]
	path = simpl-repo/backend/tests/test-automation-ui
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/test-automation-ui.git
	branch = develop
[submodule "simpl-repo/backend/libs/common"]
	path = simpl-repo/backend/libs/common
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/common.git
	branch = develop
[submodule "simpl-repo/backend/libs/simpl-http-client"]
	path = simpl-repo/backend/libs/simpl-http-client
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/simpl-http-client.git
	branch = develop
[submodule "simpl-repo/backend/misc/cli"]
	path = simpl-repo/backend/misc/cli
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/cli.git
	branch = develop
[submodule "simpl-repo/backend/misc/ejbca-preconfig"]
	path = simpl-repo/backend/misc/ejbca-preconfig
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/ejbca-preconfig.git
	branch = develop
[submodule "simpl-repo/backend/misc/echo-backend"]
	path = simpl-repo/backend/misc/echo-backend
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/echo-backend.git
	branch = develop
[submodule "simpl-repo/backend/misc/keycloak-authenticator"]
	path = simpl-repo/backend/misc/keycloak-authenticator
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/keycloak-authenticator.git
	branch = develop
[submodule "simpl-repo/backend/misc/echo-frontend"]
	path = simpl-repo/backend/misc/echo-frontend
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/echo-frontend.git
	branch = develop
[submodule "simpl-repo/backend/misc/tier2-proxy"]
	path = simpl-repo/backend/misc/tier2-proxy
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/tier2-proxy.git
	branch = develop
[submodule "simpl-repo/docs/charts"]
	path = simpl-repo/docs/charts
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/charts.git
	branch = develop
[submodule "simpl-repo/docs/documentation"]
	path = simpl-repo/docs/documentation
	url = https://code.europa.eu/simpl/simpl-open/development/iaa/documentation.git
	branch = develop
