[Unit]
Description=authority-securityattributesprovider

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:authority-securityattributesprovider
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
