[Unit]
Description=authority-onboarding

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:authority-onboarding
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
