[Unit]
Description=authority-tierone

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:authority-tierone
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
