[Unit]
Description=consumer-usersroles

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:consumer-usersroles
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
