[Unit]
Description=consumer-tiertwo

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:consumer-tiertwo
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
