[Unit]
Description=consumer-tierone

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:consumer-tierone
MemoryHigh=300M
StandardOutput=journal
StandardError=journal
