[Unit]
Description=consumer-tierone

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:consumer-tierone
Slice=simpl.slice
StandardOutput=journal
StandardError=journal
