[Unit]
Description=authority-tierone

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:authority-tierone
Slice=simpl.slice
StandardOutput=journal
StandardError=journal
