[Unit]
Description=Simpl onboarding env=local

[Service]
ExecStart=mise run run:users-roles-consumer
WorkingDirectory=%h/personal/persona/simpl-monorepo
StandardOutput=journal
StandardError=journal
