[Unit]
Description=authority-onboarding

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" run micro:run:authority-onboarding
Slice=simpl.slice
StandardOutput=journal
StandardError=journal
