[Unit]
Description=Tier1 env=local

[Service]
ExecStart=mvn -Dmaven.test.skip spring-boot:run -Dspring-boot.run.profiles=local,authority
WorkingDirectory=%h/personal/persona/simpl-monorepo/simpl-repo/simpl-cloud-gateway
StanrdardOutput=journal
StanrdardError=journal
