[Unit]
Description=Simpl onboarding env=local

[Service]
ExecStart=mvn -Dmaven.test.skip spring-boot:run -Dspring-boot.run.profiles=local
WorkingDirectory=%h/personal/persona/simpl-monorepo/simpl-repo/onboarding
StandardOutput=journal
StandardError=journal
Environment=SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/onboarding
Environment=SPRING_DATASOURCE_USERNAME=onboarding
Environment=SPRING_DATASOURCE_PASSWORD=onboarding
