[Unit]
Description=Auth env=local

[Service]
ExecStart=mvn -Dmaven.test.skip spring-boot:run -Dspring-boot.run.profiles=local,local-authority
Environment=SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=http://localhost:9010/auth/realms/participant
Environment=CRYPTO_SECRETKEYBASE64=KdSucCE6DSRFThqxv2frvx1h84HPFEy4ocEFwFDJC8A=
WorkingDirectory=%h/personal/persona/simpl-monorepo/simpl-repo/agent-service
StandardOutput=journal
StandardError=journal
