[Unit]
Description=Tier1 env=local

[Service]
ExecStart=mise --cd "${SIMPL_PROJECT_HOME}" exec -- mvnd -f simpl-repo/simpl-cloud-gateway -Dmaven.test.skip spring-boot:run -Dspring-boot.run.profiles=local,authority,local-authority
#Environment=GATEWAY_URL=https://t1.iaa-dsdev-authority.dev.simpl-europe.eu
StanrdardOutput=journal
StanrdardError=journal
